
@import url(https://fonts.googleapis.com/css?family=Passion+One);
@import url(https://fonts.googleapis.com/css?family=Lobster);

body{
  background-color:#4F597A;
}
#slidecontainer {
  position:relative;
  width: 500px;
  margin-top:200px;
  margin-left:340px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: transparent;
  outline: none;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 50px;
  margin-top:-40px;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
 width: 10px;
  height: 50px;
  background: yellow;
  cursor: pointer;
}


#len{
  position:absolute;
  height:40px;
  margin-top:-35px;
  margin-left:-45px;
  border-radius:5px;
  border:10px solid yellow;
  background:transparent;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  pointer-events: none;
}


#cont2 {
  width: 310px;
  position:relative;
  transform: rotate(90deg);
  top:220px;
  margin-left:70px;/* Width of the outside container */
}

/* The slider itself */
.slider1 {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 20px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  border-radius:10px;
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

.slider1:hover {
  opacity: 1; 
}

.slider1::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 40px; 
  border-radius:5px;
  border: 2px solid black;
  background: #B01538; 
  cursor: pointer; 
}

.slider1::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#notechart{
  width:580px;
  height:350px;
  margin-top:25px;
  margin-left:290px;
  margin-bottom:10px;
  padding:10px;
  background-color:black;
  border-radius:10px;
}

.line {
  position:relative;
  width: 100%;
  height: 70px;
  background-color: #E5E7EA;
  /*cursor: pointer;*/
}

.button {
 
  position:relative;
  width: 55px;
  height: 35px;
  border-radius: 50%;
  text-align:center;
  font-size:27px;
  display: inline-block;
  background-color: white;
  border: 5px solid black;
  margin-right: 2px;
  margin-bottom:20px;
  margin-left:15px;
  margin-top:10px;
  cursor: pointer;
}

h{
  font-size:60px;
  font-family: 'Lobster';
  position:absolute;
  top:15px;
  left:30px;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 rgba(255, 255, 255, 0.473);
}


p{
  font-size:30px;
  font-family: 'Passion One';
  position:absolute;
  color: white;
  width:200px;
  height:150px;
  margin-top:140px;
  margin-left:225px;
  transform:rotate(270deg);
}


.selected {
  background-color: #989BA3;
}

p1{
  font-size:30px;
  font-family: 'Passion One';
  position:absolute;
  color:white;
  width:400px;
  height:80px;
  top:235px;
  margin-left:370px;
}

.button-true{
  border-color:#026600;
}
.button-false{
  border-color:#CA1C11;
}

.smallLine{
  position:absolute;
  width:38px;
  height:10px;
  margin-top:15px;
  margin-left:260px;
  background-color:yellow;
}

.lip{
  position:absolute;
  width:0px;
  height:0px;
  margin-top:8px;
  margin-left:240px;
  border:11px solid yellow;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-left-color:yellow;
 }
.len2{
  position:absolute;
  height:60px;
  width:270px;
  margin-top:-105px;
  margin-left:20px;
  border:10px solid yellow;
  background:transparent;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right-color:transparent;
  pointer-events: none;
}

.bell{
  position: absolute;
  background-color: yellow;
  top: 37px;
  left: 230px;
  height: 120px;
  width: 290px;
}  
  .top-flare{
    position: absolute;
    top: 20px;
    transform:rotate(-3deg);
    left: 198px;
    width: 320px;
    height: 70px;
    background-color:#4F597A;
    border-radius: 100px;
    border-bottom-left-radius: 0px;
    border-top-right-radius:50px;
  }
  .bottom-flare{
    position: absolute;
    top: 110px;
    transform:rotate(3deg);
    left: 198px;
    width: 320px;
    height: 70px;
    background-color:#4F597A;
    border-radius: 100px;
    border-top-left-radius: 0px;
    border-bottom-right-radius:50px;
  }

.mline{
   position:absolute;
  width:10px;
  height:60px;
  top:105px;
  margin-left:265px;
  background-color:yellow;
}

.mline2{
   position:absolute;
  width:10px;
  height:62px;
  top:105px;
  margin-left:130px;
  background-color:yellow;
}
.prov {
  text-align:center;
  font-size:37px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: white;
  border: 7px solid black;
  border-color:black;
  position: absolute;
  top:20px;
  -webkit-animation: linear;
  -webkit-animation-name: run;
  -webkit-animation-duration: 5s;
  -webkit-animation-fill-mode: forwards;
}
@-webkit-keyframes run {
  0% {
    left: 0px;
  }
  100% {
    left: 90%;
    
   /* background-color: blue;*/
  }

}

#cont3{
  position:absolute;
  left:520px;
  top:50px;
  width:800px;
  height:100px;
  background-color:blue;
}

/*-----------------------------------------------------------------*/

.note_el{
  width: 35px;
  height: 35px;
  border-radius: 30%;
  display: inline-block;
  background-color: yellow;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size:20px;
  font-family: 'Helvetica';
}

#note_to_play_cont{
  background-color: sky-blue;
  padding: 15px;
  border-radius: 5px;
  width:fit-content;
}

#buttons_cont{
  padding:15px;
  width:fit-content;
}

#select_notes{
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  display: inline-block;
  background-color: blue;
  cursor: pointer;
  font-size:20px;
  font-family: 'Helvetica';
  padding: 5px;
  margin: 5px;
  color: white;
}

.pulsante{
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
  display: inline-block;
  background-color: blue;
  cursor: pointer;
  font-size:20px;
  font-family: 'Helvetica';
  padding: 5px;
  margin: 5px;
  color: white;
}

#screen{
  position:absolute;
  width: 400px;
  height: 300px;
  border-radius: 10px;
  display: inline-block;
  background-color: black;
  font-size:20px;
  font-family: 'Helvetica';
  padding: 0px;
  margin-left: 70%;
  margin-top: 200px;
  color: green;
  text-align:center;
  vertical-align: middle;
  word-wrap: break-word;
}
